@use '../base/utils' as *;

.header {
  background: var(--color-primary);

  &__row {
    padding-block: 25px 30px;
    align-items: center;

    @include max-md-screen {
      padding-block: 15px 15px;
    }
  }

  &__logo {
    display: flex;

    height: 70px;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    height: 70px;

    @include max-md-screen {
      display: none;
    }

    text-align: center;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  &__nav {
    @include max-md-screen {
      display: none;
    }

    &-list {
      display: flex;
      justify-content: flex-end;
      gap: 30px;
    }

    &-item {
      height: 40px;
      width: 40px;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
